# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Виртуальное окружение
.venv/
venv/
env/

# VSCode
.vscode/*.log
.vscode/settings.json

# Логи, скриншоты приложения и сохранения
logs/
screenshots/
screenshots_preview/
saved/

# Сборка / дистрибутивы
build/
dist/
*.spec

# Прочее
.idea/
.DS_Store
Thumbs.db
